<html>
<head>
<script type="text/javascript" src="{{ static_url("jquery-1.4.2.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("uploadr.js") }}"></script>
</head>
<body>

<h2>File Information</h2>

{%if filename %}
<h3>Filename: {{ filename }}</h3>
<h3>Size: {{ filesize }} {{ units }}</h3>
<h3>Description: {{ description }}</h3>
<div id="token">
<a id="request_token" href="#">Request download token</a>
<a id="download_link" href="/download/{{url_escape(reference)}}/{{url_escape(filename)}}?token=">Download</a>

<div id="delete">
<form method="post" action="/delete/{{url_escape(reference)}}">
<label for="delete-token">Delete token: </label><input id="delete-token" type="text" size="22" name="token"/>
<input type="submit" value="Delete!"/>
</form>
</div>
</div>
{% else %}
The file does not exist.
{% end %}


<a href="/">Back</a>

</body>

</html>
